
<div class="card">
    <h1>{{title}}</h1>
    <div class="card__cube-display">
      <div class="card__cube" [ngStyle]="{'background-color':myStyle()}"></div>
      <div class="card__cube" [ngStyle]="{'background-color':myStyleSecondary()}"></div>
      <div class="card__cube" [ngStyle]="{'background-color':myStyleTertiary()}"></div>
    </div>
    
   
    <div class="card__slider">
        <div>
            <input #sliderone type="range" (change)="setValue($event)" id="hue" name="hue" min="{{rangeMinHue}}" max="{{rangeMaxHue}}"  step="0.1" value="0">
            <label for="volume">Hue</label>
          </div>
          
          <div>
            <input #slidertwo type="range" (change)="setValueSlideTwo($event)" id="Saturation" name="Saturation" min="{{rangeMinSat}}" max="{{rangeMaxSat}}"  step="0.1" value="0">
            <label for="Saturation">Saturation</label>
          </div>
          <div>
            <input #sliderthree type="range" (change)="setValueSlideThree($event)" id="cowbell" name="cowbell" min="{{rangeMinLight}}" max="{{rangeMaxLight}}" step="0.1" value="0">
            <label for="cowbell">Lightness</label>
          </div>
    </div>
    <div class="card__pre">
        :root<br>
          --clr-primary: hsl({{hue}} , {{sat}}% , {{light}}% )<br>
          --clr-secondary: hsl({{ hue + 30}}, {{sat}}%, {{light}}%)<br>
          --clr-tertiary: hsl( {{hue+180}}, {{sat}}%, {{light}}%)
        
    </div>
</div> 

  

